jobs:
  server:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
    - name: Install Chocolatey (si no existe)
      shell: pwsh
      run: |
        if (-not (Get-Command choco -ErrorAction SilentlyContinue)) {
          Set-ExecutionPolicy Bypass -Scope Process -Force
          [System.Net.ServicePointManager]::SecurityProtocol = 3072
          iex ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))
        }

    - name: Install Nginx and 7-Zip via Chocolatey
      shell: pwsh
      run: |
        choco install nginx 7zip -y --no-progress

    - name: Configure and Start Nginx
      shell: pwsh
      run: |
        $nginxPath = "C:\tools\nginx"
        $conf | Out-File "$nginxPath\conf\nginx.conf" -Encoding ascii
        Set-Location $nginxPath

        if (-not (Get-Process nginx -ErrorAction SilentlyContinue)) {
          Start-Process ".\nginx.exe"
        }

    - name: Final Info and Keep Alive
      shell: pwsh
      run: |
        Write-Host "=============================================="
        Write-Host "ACCESO RDP:"
        Write-Host "xfreerdp3 /v:$env:TSIP /u:rootkit /p:buzon2005 /gfx /dynamic-resolution"
        Write-Host ""
        Write-Host "SERVER:"
        Write-Host "URL: http://$env:TSIP:8000/NOMBRE_ARCHIVO"
        Write-Host "Carpeta RDP: D:\Uploads"
        Write-Host "=============================================="

        Start-Sleep -Seconds 21600
